<%= render '/components/banner' %>

<div class="container">
  <div class="row">
  <% @cocktails.each do |c| %>

    <div class="col-sm-4">
      <%= render '/components/card', c: c %>
    </div>

  <% end %>

  </div>
</div>
